<div class="modal-header bg-primary text-white">
    <h4 class="modal-title" id="modal-basic-title">Update Quiz</h4>
</div>
<div class="modal-body">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-group row d-flex justify-content-center align-items-center">
            <label for="firstName" class="col-form-label col-sm-2 text-right">Title:</label>
            <div class="col-sm-5">
                <input type="text" formControlName="name" class="form-control" />
            </div>
        </div>
        <div class="form-group row d-flex justify-content-center align-items-center">
            <label for="firstName" class="col-form-label col-sm-2 text-right">Topic:</label>
            <div class="col-sm-5">
                <input type="text" formControlName="topic" class="form-control" />
            </div>
        </div>
        <div class="form-group row d-flex justify-content-center align-items-center">
            <label for="firstName" class="col-form-label col-sm-2 text-right">Description:</label>
            <div class="col-sm-5">
                <input type="text" formControlName="description" class="form-control" />
            </div>
        </div>
        <div class="modal-footer">
            <button  class="btn btn-primary mr-2" (click)="modal.close('Cancel')">Cancel</button>
            <button type="submit"  class="btn btn-primary mr-2">Update</button>
        </div>
    </form>

</div>