<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">QUIZUL FRUMOS</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav w-100">
        <li *ngIf="accountService.currentUser$ | async" class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li *ngIf="accountService.currentUser$ | async" class="nav-item">
          <a class="nav-link"  routerLink='/createquiz' routerLinkActive='active'>Create Quiz</a>
        </li>
        <li *ngIf="accountService.currentUser$ | async" class="nav-item">
          <a class="nav-link" href="#">Edit Quiz</a>
        </li>
      </ul>
    <div class="dropdown" *ngIf="accountService.currentUser$ | async">
      <button class="btn btn-secondary dropdown-toggle" (click)="clicked()" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Welcome
      </button>
      <ul class="dropdown-menu" [ngClass]="{'show': toggleFlag}" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Edit Profile</a></li>
        <li><a class="dropdown-item" (click)="logout()" >Logout</a></li>
      </ul>
    </div>

    <form class="form-inline login-form"
    *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()"
        autocomplete="off">
        <div class="input-group">
        <input
            name="username"
            [(ngModel)]="model.username"
            class="form-control mr-sm-2"
            type="text"
            placeholder="Username">
        <input
            name="password"
            [(ngModel)]="model.password"
            class="form-control mr-sm-2"
            type="password"
            placeholder="Password">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
          </div>

    </form>

    </div>
  </div>
</nav>
