<form  #createQuizForm="ngForm" (ngSubmit)="createQuizes();createQuizForm.reset()"  autocomplete="off">
  <h2 class="text-center" style="color: blueviolet;">Create Your Awesome Quiz</h2>
  <hr>

  <div class="form-group">
      <input type="text" class="form-control" name="quiztitle"
          placeholder="Quiz Title" [(ngModel)]="quiz.Name"  >
  </div>

  <div class="form-group">
      <input type="text" class="form-control" name="quiztopic"
          placeholder="Quiz Topic" [(ngModel)]="quiz.Topic">
  </div>

<div class="form-group">
  <input type="text" class="form-control" name="quizdescription"
       placeholder="Quiz Description" [(ngModel)]="quiz.Description" >
</div>

<div  class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6">
        <button type="button" class="btn btn-primary mb-2" (click)="addQuestions()">Add Question</button>
      <section class="container border mb-4 p-3" *ngFor="let question of questionsTemplate; let i = index;">
        <div class="row">
          <div class="col-6">
              <h4>Question {{i + 1}}</h4>
          </div>
          <div class="col-6 text-right">
              <button type="button" class="btn btn-danger btn-sm" (click)="removeQuestion(i)">Remove</button>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
              <div class="form-group">
                  <label>Question</label>
                  <input type="text" class="form-control" [(ngModel)]="question.Text" name="question" placeholder="Question"/>
                </div>
          </div>
        
        </div>
      </section>      
    </div>
  </div>

</div>

  <div class="form-group text-center">
      <button class="btn btn-success mr-2" type="submit" style="margin-top: 10px;">Create Quiz</button>
  </div>
</form>
