<form  #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr>

  <div class="form-group">
      <input type="text" class="form-control" name="username"
          placeholder="Username" [(ngModel)]="model.username"  >
  </div>

  <div class="form-group">
      <input type="password" class="form-control" name="password"
          placeholder="Password" [(ngModel)]="model.password"  >
  </div>

<div class="form-group">
  <input type="email" class="form-control" name="Email"
       placeholder="Email" [(ngModel)]="model.email" >
</div>
<div class="form-group">
  <input type="age" class="form-control" name="age"
       placeholder="Age" [(ngModel)]="model.age" >
</div>

  <div class="form-group text-center">
      <button class="btn btn-success mr-2" type="submit">Register</button>
      <button class="btn btn-danger mr-2" (click)="cancel()" type="button">Cancel</button>
  </div>
</form>
