<div class="container mt-5" style="display: flex;">
<div *ngFor="let quiz of quizes">
  <div class="card" style="width: 18rem; margin-right: 50px;">
    <div class="card-body">
      <h5 class="card-title">{{quiz.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{quiz.topic}}</h6>
      <p class="card-text">{{quiz.description}}</p>
      <button type="button" class="btn btn-info">Info</button>
      <button type="button" class="btn btn-primary" style="position: relative;left: 55%;" (click)="editQuiz(quiz)">Edit</button>
    </div>
  </div>
</div>
</div>
