<div *ngIf="!(accountService.currentUser$ | async)" class="container mt-5">
  <div *ngIf="!registerMode" style='text-align: center;'>
      <h1>Create Your Quiz</h1>
      <p class="lead">Try this new tool that is perfect to create quick and simple quizes.</p>
      <div class="text-center">
          <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Register</button>
          <button class="btn btn-info btn-lg">Learn more</button>
      </div>
  </div>

  <div *ngIf="registerMode" class="container">
      <div class="row justify-content-center">
          <div class="col-4">
              <app-registerpage  (cancelRegister)="cancelRegisterMode($event)"></app-registerpage>
          </div>
      </div>
  </div>
</div>

<div *ngIf="(accountService.currentUser$ | async)" class="container-mt-5">
<app-quizes ></app-quizes>
</div>
